<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>Controlador.Controladorempleado1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>Controlador.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controladorlogin</servlet-name>
        <servlet-class>Controlador.Controladorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controladorempleado</servlet-name>
        <servlet-class>Controlador.Controladorempleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controladorcliente</servlet-name>
        <servlet-class>Controlador.Controladorcliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controladorlogin</servlet-name>
        <url-pattern>/Controladorlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controladorempleado</servlet-name>
        <url-pattern>/Controladorempleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controladorcliente</servlet-name>
        <url-pattern>/Controladorcliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
